<!DOCTYPE html>
<html lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>صفحه اصلی</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>سیستم مدیریت</h1>
    <button onclick="location.href='/create-user'">ایجاد کاربر</button>
    <button onclick="location.href='/create-project'">ایجاد پروژه</button>
    <button onclick="location.href='/projects'">لیست پروژه‌ها</button>
    <button onclick="location.href='/users'">لیست کاربران</button>
</div>
</body>
</html>
